<!DOCTYPE html>
<html>
  <head>
    <h1>Strikers Bowling Alley</h1>
    <body>
      <h2>Your Family-Owned Local Bowling Alley!</h2>
      <h3> Hours of Operation</h3>
        <p>Everyday 4 PM - 2 AM</p>
      
    </body>
  </head>
</html>